.nuvem {
  position: absolute;
  width: 15%;
  margin-bottom: 40%;
  margin-right: 5%;
  animation: go-back 12s infinite alternate;
}

.textResult {
  padding-top: 10%;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;

}

.buttonBottom {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
}

.cardNoneDisplay {
  display: none;
}

@keyframes go-back {
  from {
    transform: translateX(80px);
  }
  to {
    transform: translateX(-80px);
  }
}

.card {
  width: 50%;
  margin-left: 6%;
  margin-top: 25%;
}
.card2 {
  display: none;
}

.nav {
  background-color: #2c60a3;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
}

.text {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 10%;
  height: 100%;
  margin-right: 12%;
  width: 50%;
}

.logo {
  width: 25%;
  margin-top: 8%;
  margin-left: 10%;
}

.logo3 {
  width: 25%;
  margin-top: 8%;
  margin-left: 10%;
}

.logo2 {
  width: 15%;
  margin-top: 25%;
  margin-bottom: 5%;
  margin-left: 4%;
  display: none;
}

.title_container {
  width: 50%;
  margin-bottom: 2%;
}
.card_task {
  position: relative;
  width: 50%;
  height: 10%;
  background: #3a82e2;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 3%;
  margin-top: 1%;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.card_task:hover {
  top: 0.5%;
  background: #2c60a3;
  box-shadow: none;
}

.step_group {
  width: 50%;
  height: 5%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.step_active {
  background-color: #3a82e2;
  width: 24%;
  height: 40%;
  border-radius: 10px;
}
.step_default {
  background-color: #9a9b9c;
  width: 24%;
  height: 40%;
  border-radius: 10px;
}

.cardIntern {
  display: flex;
  flex-direction: row;
}

.cardMachine {
  display: flex;
  flex-direction: column;
  border: 3px solid #f6c20a;
  border-radius: 2%;
  padding: 4%;
  padding-top: 0%;
  margin-bottom: 0%;
  margin-top: 5%;
  background: #2f3997;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.cardMachine2 {
  display: flex;
  flex-direction: column;
  border: 3px solid #c1cfd2;
  border-radius: 2%;
  padding: 4%;
  margin-bottom: 10%;
  margin-top: 10%;
  padding-top: 0%;
  background: #2f3997;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.cardMachine3 {
  display: flex;
  flex-direction: column;
  border: 3px solid #ed6939;
  border-radius: 2%;
  padding: 4%;
  margin-bottom: 10%;
  margin-top: 0%;
  padding-top: 0%;
  background: #2f3997;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1300px) {
  .text {
    padding-top: 12%;
  }
}

@media (max-width: 1150px) {
  .card {
    width: 45%;
    margin-top: 25%;
  }
  .text {
    padding-top: 10%;
  }
}

@media (max-width: 1000px) {
  .cardIntern {
    flex-direction: column;
  }

  .logo2 {
    display: block;
    width: 40%;
    margin-top: 15%;
  }

  .card {
    width: 80%;
    margin-top: 70%;
  }
  .text {
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
  }
  .logo3 {
    display: none;
  }
  .backleft {
    display: none;
  }
  .nuvem {
    display: none;
  }
  .persona {
    display: none;
  }
  .card {
    display: none;
  }
  .card2 {
    display: block;
    width: 60%;
  }
  .blockText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title_container {
    width: 80%;
    margin-bottom: 2%;
  }
  .card_task {
    position: relative;
    width: 80%;
    height: 10%;
    background: #3a82e2;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 3%;
    margin-top: 1%;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .step_group {
    width: 80%;
    height: 3%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cardMachine {
    flex-direction: column;
    margin-top: 5%;
  }

  .cardMachine2 {
    flex-direction: column;
    margin-top: 5%;
  }
  .cardMachine3 {
    flex-direction: column;
    margin-top: 5%;
  }
}
@media (max-width: 800px) {
  .logo2 {
    margin-top: 100%;
  }

  .card2 {
    display: block;
    width: 40%;
  }
}
@media (max-width: 600px) {
  .text {
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
  }
  .logo {
    width: 45%;
    margin-top: 10%;
    margin-left: 20%;
  }

  .card2 {
    display: block;
    width: 40%;
  }
  .blockText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card_task {
    margin-top: 2%;
  }
}
@media (max-width: 500px) {
  .cardMachine {
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 50px;
    border-radius: 10px;
    margin-top: 10%;
  }

  .textResult {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
  
  }
  

  .cardMachine2 {
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 50px;
    margin-top: 60px;
    border-radius: 10px;
  }
  .cardMachine3 {
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 50px;
    border-radius: 10px;
  }

  .logo2 {
    width: 50%;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .title_container {
    margin-bottom: 10%;
  }

  .step_group {
    margin-top: 10%;
  }

  .card_task {
    margin-top: 3%;
    padding: 5%;
  }
  .text {
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
  }
  .logo {
    width: 65%;
    margin-top: 20%;
    margin-left: 20%;
  }

  .card2 {
    display: block;
    width: 60%;
  }
  .blockText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 380px) {
  .cardMachine {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .cardMachine2 {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .cardMachine3 {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .logo2 {
    width: 50%;
    margin-top: 20%;
    margin-bottom: 20%;
  }
}
